<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="footer">

		<div class="container">

			<footer>
				<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
				<script src="js/jquery.js"></script>

				<!-- Include all compiled plugins (below), or include individual files as needed -->
				<script src="js/bootstrap.min.js"></script>

				<!-- Sparkline Graphs -->
				<!-- <script src="js/sparkline/sparkline.js"></script> -->
				<script src="js/sparkline/retina.js"></script>
				<script src="js/sparkline/custom-sparkline.js"></script>

				<!-- jquery ScrollUp JS -->
				<script src="js/scrollup/jquery.scrollUp.js"></script>

				<!-- D3 JS -->
				<script src="js/d3/d3.v3.min.js"></script>

				<!-- D3 Power Gauge -->
				<script src="js/d3/d3.powergauge.js"></script>

				<!-- D3 Meter Gauge Chart -->
				<script src="js/d3/gauge.js"></script>
				<script src="js/d3/gauge-custom.js"></script>

				<!-- C3 Graphs -->
				<script src="js/c3/c3.min.js"></script>
				<script src="js/c3/c3.custom.js"></script>

				<!-- NVD3 JS -->
				<script src="js/nvd3/nv.d3.js"></script>
				<script src="js/nvd3/nv.d3.custom.boxPlotChart.js"></script>
				<script src="js/nvd3/nv.d3.custom.stackedAreaChart.js"></script>

				<!-- Horizontal Bar JS -->
				<script src="js/horizontal-bar/horizBarChart.min.js"></script>
				<script src="js/horizontal-bar/horizBarCustom.js"></script>

				<!-- Gauge Meter JS -->
				<script src="js/gaugemeter/gaugeMeter-2.0.0.min.js"></script>
				<script src="js/gaugemeter/gaugemeter.custom.js"></script>

				<!-- Calendar Heatmap JS -->
				<script src="js/heatmap/cal-heatmap.min.js"></script>
				<script src="js/heatmap/cal-heatmap.custom.js"></script>

				<!-- Odometer JS -->
				<script src="js/odometer/odometer.min.js"></script>
				<script src="js/odometer/custom-odometer.js"></script>

				<!-- Peity JS -->
				<script src="js/peity/peity.min.js"></script>
				<script src="js/peity/custom-peity.js"></script>

				<!-- Circliful js -->
				<script src="js/circliful/circliful.min.js"></script>
				<script src="js/circliful/circliful.custom.js"></script>

				<!-- Flickity JS -->
				<script src="js/flickity/flickity.pkgd.min.js"></script>
				<script src="js/flickity/bg-lazyload.js"></script>

				<!-- Custom JS -->
				<script src="js/custom.js"></script>
				
				<!-- Alertify js -->
				<script src="js/alertify/alertify.js"></script>
				<script src="js/alertify/alertify-custom.js"></script>

				<!-- Our custom JS -->
				<script src="customjs/main.js"></script>

				
        		


			</footer>
		</div>

	</div>
</body>
</html>